<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--管理员映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.AdminMapper">
    <select id="getPicList" parameterType="com.luckysite.model.AdminPicModel"
            resultType="com.luckysite.entity.Pic">
        select * from pic where status = #{status} order by createTime desc
    </select>

    <select id="getUserList" parameterType="com.luckysite.model.AdminUserModel"
            resultType="com.luckysite.entity.UpLevel">
        select * from uplevel where status = #{status} order by sendTime desc
    </select>

    <update id="updateUpLevelStatus" parameterType="com.luckysite.entity.UpLevel">
        update uplevel set status = #{status}, confirmTime = now() where userId = #{userId} and type = #{type}
    </update>

    <update id="updateUserRole" parameterType="java.lang.Integer">
        update user_msg set role = #{role} where userId = #{userId}
    </update>

    <update id="updatePicStatus" parameterType="com.luckysite.model.AdminPicModel">
        update pic set status = #{status} where id = #{picId}
    </update>

    <select id="getPostsList" resultType="com.luckysite.entity.Post">
        select
          u.nickName, u.avatarUrl, p.*
        from user_msg u, post p
        where p.status = #{status}
        and p.userId = u.userId
        order by p.send_time desc
    </select>
</mapper>