<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--图片映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.FileMapper">
    <insert id="insertPic" parameterType="com.luckysite.entity.Pic">
        insert into pic (userId, createTime, path, des, status, uploadId, userIcon) values
        (#{userId}, now(), #{path}, #{des}, #{status}, #{uploadId}, #{userIcon})
    </insert>
</mapper>