<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--图片映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.FileMapper">
    <insert id="insertPic" parameterType="com.luckysite.entity.Pic">
        insert into pic (userId, createTime, path, des, status, uploadId, userIcon, type) values
        (#{userId}, now(), #{path}, #{des}, #{status}, #{uploadId}, #{userIcon}, #{type})
    </insert>

    <insert id="insertPostPic" parameterType="com.luckysite.entity.PostPic">
        insert into post_pic (upload_name, url, userId) values (#{uploadName}, #{url}, #{userId})
    </insert>

    <insert id="insertPost" parameterType="com.luckysite.entity.Post">
        insert into post (post_name, status, userId, send_time, confirm_time, content) values
        (#{post_name},#{status},#{userId},now(),now(),#{content})
    </insert>
</mapper>