<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--图片映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.GetImageMapper">
    <select id="getImage" resultType="com.luckysite.entity.Pic">
        SELECT p.id, p.createTime, p.path, p.des, p.`status`, p.uploadId, p.type, u.avatarUrl as userIcon
        FROM pic p LEFT JOIN (
          select userId, avatarUrl from user_msg
        ) u ON p.userId = u.userId
        WHERE p.status = 1
        and p.type = #{type}
        group by p.uploadId
        order by p.createTime desc
    </select>

    <select id="getImageById" resultType="com.luckysite.model.PicResultModel">
        SELECT p.id, p.path, p.des, p.`status`, p.uploadId, u.avatarUrl, u.nickName FROM pic p, (
            SELECT uploadId, userId FROM pic WHERE id = #{picId}
        )t, (
            SELECT avatarUrl, userId, nickName FROM user_msg
        )u
        WHERE p.uploadId = t.uploadId
        AND p.userId = u.userId
        AND p.status = 1
    </select>
</mapper>