<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--图片映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.GetImageMapper">
    <select id="getImage" resultType="com.luckysite.entity.Pic">
        SELECT * FROM pic WHERE status = 1 and type = #{type} group by uploadId order by createTime desc
    </select>

    <select id="getImageById" resultType="com.luckysite.entity.Pic">
        SELECT * FROM pic p, (
          SELECT uploadId FROM pic WHERE id = #{picId}
        )t
        WHERE p.uploadId = t.uploadId
        AND p.status = 1
    </select>
</mapper>