<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--图片映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.PostsMapper">
    <insert id="insertPost" parameterType="com.luckysite.entity.Post">
        insert into post (post_name, status, userId, send_time, confirm_time, content, title, type) values
        (#{post_name},#{status},#{userId},now(),now(),#{content}, #{title}, type)
    </insert>

    <select id="searchPost" parameterType="java.lang.String" resultType="com.luckysite.entity.Post">
        select * from post where post_name = #{post_name}
    </select>

    <update id="updataPost" parameterType="com.luckysite.entity.Post">
        update post set title = #{title}, avatarUrl = #{avatarUrl}, content = #{content}, send_time = now(), confirm_time = now(), type = #{type} where post_name = #{post_name}
    </update>

    <select id="getPostsList" parameterType="com.luckysite.model.PostsParamModel" resultType="com.luckysite.entity.Post">
        select
          u.nickName, u.avatarUrl, p.*
        from user_msg u, post p
        where p.status = #{status}
        and p.type = #{type}
        and p.userId = u.userId
        order by p.confirm_time desc
    </select>
</mapper>