<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到mapper接口 -->
<mapper namespace="com.luckysite.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.luckysite.entity.User">
        insert into user_msg (username, freez, registerTime, loginTime, refreshTime, sex, role) values
        (#{username}, #{freez}, #{registerTime}, #{loginTime}, #{refreshTime}, #{sex}, #{role})
    </insert>

    <select id="getByUserName" parameterType="java.lang.String">
        select * from user_msg where userName = #{userName}
    </select>

    <select id="getByUserId" parameterType="java.lang.Integer">
        select * from user_msg where userId = #{userId}
    </select>

    <select id="getByToken" parameterType="java.lang.String">
        select * from user_msg where token = #{token}
    </select>

    <update id="updateLoginInfo" parameterType="com.luckysite.entity.User">
        update user_msg set token = #{token}, loginTime = now(), refreshTime = now()
    </update>
</mapper>